{%extends 'auctions/layout.html'%}

{%block body%}
    <div class="card">
    <div class="card-body">
    <center>
    <h2>Active Listings for Category : {{category}}</h2>    
    </center>
    </div></div>   
    <div class="flex-container" style = "display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;">
    {%for item in listings%}
    {%if item.listed%}
    <div class="card" style="width: 20rem;">
        <img src="{{item.url}}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">{{item.product_name}}</h5>
            <p class="card-text text-truncate">{{item.description}}</p>
            <p class="card-text"><small class="text-muted">Added : {{item.date}}</small></p>
            <a href="{%url 'listings' item.id%}" class="btn btn-primary" align=>Go To Product Page</a>
        </div>
    </div>
    {%endif%}
    {%empty%}
    <h2>No Entries Available for {{category}}</h2>
    {%endfor%}
    </div>
{%endblock%}