<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="https://imgur.com/BCTdTtt.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media(max-width: 1000px) {
            .bigs {
                display: none;
            }
            .smalls {
                display: block;
                padding: 5px;
            }
        }
        
        @media(min-width: 1000px) {
            .smalls {
                display: none;
            }
            .bigs {
                display: block;
            }
        }
    </style>
</head>

<body style="padding:10px;">
    <div class="bigs">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href={% url 'index' %}>
                <img src="https://imgur.com/JUIxk2R.png" width="50" height="50" alt="Image" loading="lazy">

            </a>
            <div class="collapse navbar-collapse navbar navbar-light" id="navbarNavDropdown">

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <h5>AUCTIONS</h5>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Active Categories</a>
                    </li>
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'addlisting'%}">Add Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewwishlist' %}">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mywins' %}">My Wins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="float-right">
                <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" width='30px'> {% if user.is_authenticated and user.first_name%} Signed in as <strong><a href="{%url 'users' user.username%}">{{ user.first_name}} {{user.last_name}}</a></strong>.
                {% elif user.is_authenticated and not user.first_name%} Signed in as <strong><a href="{%url 'users' user.username%}">{{ user.username}}</a></strong>. {% else %} Not signed in. {% endif %}
            </div>

        </nav>
    </div>
    <div class="smalls">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href={% url 'index' %}>
                <img src="https://imgur.com/JUIxk2R.png" width="50" height="50" alt="Image" loading="lazy">

            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <h5>AUCTIONS</h5>
                    </a>
                </li>
            </ul>

            <div class="float-right">
                <!-- Default dropleft button -->
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
                    <div class="dropdown-menu" style="padding:10px;">
                        <ul class="navbar-nav">



                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'categories' %}">Active Categories</a>
                            </li>
                            {% if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'addlisting'%}">Add Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'viewwishlist' %}">Wishlist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mywins' %}">My Wins</a>
                            </li>
                            <li class="nav-item">
                                <strong><a class="nav-link" href="{% url 'logout' %}">Log Out</a></strong>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <strong><a class="nav-link" href="{% url 'login' %}">Log In</a></strong>
                            </li>
                            <li class="nav-item">
                                <strong><a class="nav-link" href="{% url 'register' %}">Register</a></strong>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="dropdown-divider"></div>
                        <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" width='30px'> {% if user.is_authenticated and user.first_name%} Signed in as <strong><a href="{%url 'users' user.username%}">{{ user.first_name}} {{user.last_name}}</a></strong>.
                        {% elif user.is_authenticated and not user.first_name%} Signed in as <strong><a href="{%url 'users' user.username%}">{{ user.username}}</a></strong>. {% else %} Not signed in. {% endif %}
                    </div>
                </div>
            </div>
    </div>
    </nav>
    </div>

    <hr> {% block body %} {% endblock %}
</body>

</html>