{%extends 'auctions/layout.html'%}

{%block body%}
    <div class="card">
    <div class="card-body">
    <center>
    {%if request.user.first_name%}
    <h2>Wins for {{request.user.first_name}} {{request.user.last_name}}</h2>
    {%else%}
    <h2>Wins for {{request.user.username}}</h2>
    {%endif%}    
    </center>
    </div>
    </div>


    <div class="flex-container" style = "display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;">
    {%for item in listings%}
        {%if not item.product.listed %}
        <div class="card" style="width: 20rem;">
            <img src="{{item.product.url}}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{item.product.product_name}}</h5>
                <p class="card-text text-truncate">{{item.prouct.description}}
                Final Price : ${{item.bid}}
                </p>
                <p class="card-text"><small class="text-muted">Added : {{item.product.date}}</small></p>
                <center><a href="{%url 'listings' item.product.id%}" class="btn btn-success" align=>Go To Product Page</a></center>
            </div>
            </div>    
        {%endif%}
        
        {%empty%}
            </div>
            <center>
            <img src="https://img.pngio.com/winning-sports-win-icon-png-and-vector-for-free-download-pngtree-winning-png-free-512_512.png" width='400px'>
            <br>
            {%if request.user.first_name%}
                <h2>No Auction Wins for {{request.user.first_name}} {{request.user.last_name}}</h2>
            {%else%}
                <h2>No Auction Wins for {{request.user.username}}<br>
                Bid on items to increase your chances of Winning!</h2>
            {%endif%} 
            </center>
    {%endfor%}
    
{%endblock%}